<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="./css/components.css">
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <div class="container">
        <%-include('./components/side.ejs',{path:"home"})%>
        <div class="separator"></div>
        <div class="main">
            <%-include('./components/nav.ejs',{path:'home'})%>
            <div class="content">
                <% if(arr.length == 0){%>
                    <h1 class="msg"> NO USERS EXIST NOW ! </h1>
                <%}else{%>
                    <table >
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Gender</th>
                                <th>Country</th>
                                <th>Age</th>
                                <th>Last Updated</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% arr.forEach((item,index)=>{%>
                                <tr>
                                    <td class="counter"><%=index+1%></td>
                                    <td><%= item.firstName +"   "+item.lastName %></td>
                                    <td><%=item.gender%></td>
                                    <td><%=item.country%></td>
                                    <td><%=item.age%></td>
                                    <td><%="At "+moment(item.updatedAt).format('MM-DD-YYYY hh:mm:ss')%></td>
                                    <td class="action">
                                        <a href="./user/details/<%=item._id%>"><i class="fa-solid fa-eye show"></i></a>
                                        <a href="./user/update/<%=item._id%>"><i class="fa-solid fa-pen update"></i></a>
                                        <form action="/<%=item._id%>?_method=DELETE " method="post">
                                            <button type="submit"><i class="fa-solid fa-trash delete"></i></button>
                                        </form>
                                        
                                    </td>
                                </tr>
                                
                            <%})%>
                        </tbody>
                    </table>
                <%}%>
            </div>
        </div>
    </div>
    <script src="./js/side.js"></script>
    <script src="./js/home.js"></script>
</body>                              
</html> 