<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/adduser.css">
</head>
<body>
    <div class="container">
        <%-include('../components/side.ejs',{path:"update"})%>
        <div class="separator"></div>
        <div class="main">
            <%- include("../components/nav.ejs",{path:"update"}) %>
            <div class="content">
                <form action="/update/<%=user._id%>?_method=PUT" method="post" id="updForm">
                    <div class="inpLabel">
                        <label for="firstName">First Name : </label>
                        <input type="text" id="firstName" class="test" name="firstName" value="<%= user.firstName %>" placeholder="ahmed">
                    </div>
                    <p id="errorName" class="error"></p>

                    <div class="inpLabel">
                        <label for="lastName">Last Name : </label>
                        <input type="text" id="lastName" class="test" name="lastName" placeholder="charnoubi....." value="<%= user.lastName %>">
                    </div>
                    <p id="errorlName" class="error"></p>

                    <div class="inpLabel">
                        <label for="mail">Email : </label>
                        <input type="email" id="mail" class="test" name="email" placeholder="blabla@gmail.com" value="<%= user.email %>">
                    </div>
                    <p id="errorMail" class="error"></p>

                    <div class="inpLabel">
                        <label for="telephone">Telephone : </label>
                        <input type="number" id="telephone" name="telephone" placeholder="22479875" value="<%= user.telephone %>" class="test">
                    </div>
                    <p id="errorTel" class="error"></p>

                    <div class="inpLabel">
                        <label for="age">Age : </label>
                        <input type="number" id="age" name="age" placeholder="50" value="<%= user.age %>" class="test">
                    </div>
                    <p id="errorAge" class="error"></p>
                    <div class="inpLabel">
                        <label for="country">Country : </label>
                        <select name="country" id="country" value="">
                            <option selected hidden disabled >Choose here .....</option>
                            <% const country_list = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla",
                            "Antigua &amp;Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas",
                            "Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia",
                            "Bosnia &amp; Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso",
                            "Burundi","Cambodia","Cameroon","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo",
                            "Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic",
                            "Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea",
                            "Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia",
                            "French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland",
                            "Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong",
                            "Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica",
                            "Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia","Lebanon",
                            "Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar",
                            "Malawi","Malaysia","Maldives","Mali","Malta","Mauritania","Mauritius","Mexico","Moldova","Monaco",
                            "Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands",
                            "Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","Norway",
                            "Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines",
                            "Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda",
                            "Saint Pierre &amp; Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia",
                            "Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain",
                            "Sri Lanka","St Kitts &amp; Nevis","St Lucia","St Vincent","St. Lucia","Sudan","Suriname","Swaziland",
                            "Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga",
                            "Trinidad &amp; Tobago","Tunisia","Turkey","Turkmenistan","Turks &amp; Caicos","Uganda","Ukraine",
                            "United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam",
                            "Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];
                            country_list.forEach((elt,inx)=>{%>
                                <option <%=elt==user.country?"selected":null%> value="<%=elt%>"><%=elt%></option>
                            <%})%>
                            
                        </select>
                    </div>
                    <p id="errorCountry" class="error"></p>

                    <div class="inpLabel">
                        <label for="gender">Gender : </label>
                        <select name="gender" id="gender" name="gender" value="" >
                            <option selected hidden disabled >Choose here .....</option>
                            <option <%=user.gender=="Male"?"selected":null%> value="Male">Male</option>
                            <option <%=user.gender=="Female"?"selected":null%> value="Female">Female</option>
                        </select>
                    </div>
                    <p id="errorGender" class="error"></p>
                    
                    <div class="btns">
                        <button type="submit" class="btnUpdate"> Update Changes </button>   
                    </div>
                </form>

                
                <form action="/deleteCustomer/<%=user._id%>?_method=DELETE" method="post" id="myForm" class="btns">
                    <button type="submit" class="btnUpdateRed" > Delete Customer </button>
                </form>

            </div>
        </div>
    </div>

    <script src="/js/side.js"></script>
    <script src="/js/update.js" type="module"></script>
</body>
</html>